@font-face {
	font-family: "EmojiAutocompleteFlagPolyfill";
	unicode-range: U+1F1E6-1F1FF, U+1F3F4, U+E0062-E0063, U+E0065, U+E0067,
		U+E006C, U+E006E, U+E0073-E0074, U+E0077, U+E007F;
	src: url('./TwemojiCountryFlags.woff2') format('woff2');
	font-display: swap;
}

.EA-suggester-container {
  display: flex;
  place-content: space-between;
  min-width: 12.5rem;
  width: 100%;
  max-width: 100vw;
}

.EA-shortcode,
.EA-tag-shortcode {
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.EA-shortcode svg {
	opacity: 0.6;
	margin-left: 0.25rem;
}
.EA-tag-sc {
	background: var(--code-background);
	padding: 0rem .25rem;
	border-radius: 3px;
	font-family: var(--font-monospace);
	font-size: .875rem;
}

.EA-shortcode span.EA-hl {
	padding: 0;
	border-radius: 0;
	background-color: transparent;
	color: var(--color-accent);
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

.EA-suggestion-item {
  border-top: solid var(--background-secondary) 1px;
  padding-left: 10px;
}

.EA-sub-setting {
  padding-left: 2em;
}
.EA-sub-setting + .EA-sub-setting {
  padding-left: 0;
  margin-left: 2em;
}

.EA-setting-gridholder {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: end;
	justify-items: end;

	row-gap: 1.25rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.EA-donate {
	display: flex;
	column-gap: 0.5rem;
	height: min-content;
}

